<div class="hidden">
  <div class="mat-display-1">Kenan Taşdemir</div>
  <div class="mat-display-2">Kenan Taşdemir</div>
  <div class="mat-display-3">Kenan Taşdemir</div>
  <div class="mat-display-4">Kenan Taşdemir</div>


  <div class="mat-headline">H1 İLE AYNI</div>
  <div class="mat-title">H2 İLE AYNI</div>
  <div class="mat-subheading-2">H3 İLE AYNI</div>
  <div class="mat-subheading-1">H4 İLE AYNI</div>


  <div class="mat-typography">
    <h1>H1 İLE AYNI</h1>
    <h2>H2 İLE AYNI</h2>
    <h3>H3 İLE AYNI</h3>
    <h4>H4 İLE AYNI</h4>
  </div>

  <div class="mat-body-1">Normal Body</div>
  <div class="mat-body-2">Kalın Body</div>
  <div class="mat-caption">Paragraf Yazısı</div>

</div>


<mat-divider></mat-divider>


<div class="hidden">
  <button mat-button color="primary">Tıkla</button>
  <button mat-raised-button color="secondary">Tıkla</button>
  <button mat-stroked-button color="info">Tıkla</button>
  <button mat-flat-button color="danger">Tıkla</button>
  <button mat-fab color="warn">Tıkla</button>
  <button mat-mini-fab color="accent">Tıkla</button>

  <button mat-icon-button color="accent">K</button>

  <button mat-icon-button color="primary">
    <mat-icon>more_vert</mat-icon>
  </button>


  <button mat-fab extended>
    <mat-icon>home</mat-icon>
  </button>


</div>



<mat-divider></mat-divider>

<div class="hidden">


  <mat-button-toggle-group>
    <mat-button-toggle>1</mat-button-toggle>
    <mat-button-toggle>2</mat-button-toggle>
    <mat-button-toggle>3</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-divider></mat-divider>

  <mat-button-toggle-group multiple>
    <mat-button-toggle>1</mat-button-toggle>
    <mat-button-toggle>2</mat-button-toggle>
    <mat-button-toggle>3</mat-button-toggle>
    <mat-button-toggle>4</mat-button-toggle>
  </mat-button-toggle-group>

</div>


<div class="hidden">


  <div style="margin: 50px;">
    <span matBadge="3" matBadgeColor="warn">Kenan</span>
  </div>

  <div style="margin:50px;">
    <span matBadge="3" matBadgeOverlap="false">Kenan</span>
  </div>

  <div style="margin: 50px;">
    <span matBadge="3" matBadgeSize="small" matBadgePosition="below before">Mesajlar</span>
  </div>

  <div style="margin:50px;">
    <span matBadge="3" matBadgeDisabled="true" matBadgeSize="medium" matBadgePosition="below after">Mesajlar</span>
  </div>

  <div style="margin: 50px;">
    <span matBadge="10" matBadgeSize="large" matBadgePosition="above before">Bildirimler</span>
  </div>

  <div style="margin: 50px;">
    <span [matBadge]="messages" [matBadgeHidden]="messages === 0">Mesajlar</span>
  </div>

</div>


<div class="hidden">
  <mat-progress-spinner value="30"></mat-progress-spinner>
  <mat-spinner value="30"></mat-spinner>
  <mat-spinner value="30" mode="determinate"></mat-spinner>
</div>

<div class="hidden">

  <mat-progress-bar class="spacing" mode="indeterminate"></mat-progress-bar>
  <mat-divider></mat-divider>
  <mat-progress-bar class="spacing" mode="query"></mat-progress-bar>
</div>


<div class="hidden">
  <mat-toolbar color="primary">
    <span>Hakkımızda</span>
    <span>Anasayfa</span>
  </mat-toolbar>
</div>


<div class="hidden">

  <mat-drawer-container>
    <mat-drawer opened>Sidenav</mat-drawer>
    <mat-drawer-content>main

      <button mat-raised-button>Toggle</button>
    </mat-drawer-content>
  </mat-drawer-container> -->


  <mat-drawer-container>
    <mat-drawer [(opened)]="opened">Sidenav</mat-drawer>
    <mat-drawer-content>main

      <button mat-raised-button (click)="toggle()">Toggle</button>
    </mat-drawer-content>
  </mat-drawer-container>


  <mat-drawer-container>
    <mat-drawer #sidenav [(opened)]="opened">Sidenav</mat-drawer>
    <mat-drawer-content style="margin-left: 150px;">main

      <button mat-raised-button (click)="sidenav.open()">Aç</button>
      <button mat-raised-button (click)="sidenav.close()">Kapat</button>
      <button mat-raised-button (click)="sidenav.toggle()">Toggle</button>
    </mat-drawer-content>
  </mat-drawer-container>

</div>



<div class="hidden">


  <mat-menu #appMenu="matMenu" xPosition="before" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenuBackend">Backend Teknolojileri</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenuFrontend">Frontend teknolojileri</button>
  </mat-menu>

  <button style="margin-left: 150px; margin-top: 150px;" mat-raised-button [mat-menu-trigger-for]="appMenu">Aç</button>


  <mat-menu #subMenuBackend="matMenu">
    <button mat-menu-item>C#</button>
    <button mat-menu-item>NodeJS</button>
    <button mat-menu-item>Java</button>
  </mat-menu>

  <mat-menu #subMenuFrontend="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>ReactJS</button>
    <button mat-menu-item>VueJS</button>
  </mat-menu>



  <mat-menu #dataMenu="matMenu">
    <ng-template matMenuContent let-name="name">
      <button mat-menu-item>Ayarlar</button>
      <button mat-menu-item>Çıkış Yap {{name}} </button>
    </ng-template>
  </mat-menu>

  <button class="title" mat-raised-button [matMenuTriggerData]="{name:'Kenan'}"
    [matMenuTriggerFor]="dataMenu">Kenan</button>
  <button class="title" mat-raised-button [matMenuTriggerData]="{name:'Nehir'}"
    [matMenuTriggerFor]="dataMenu">Nehir</button>


</div>

<div class="hidden">

  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

  <mat-nav-list>
    <a mat-list-item href="">Home</a>
    <a mat-list-item href="">About Us</a>
    <a mat-list-item href="">Contact</a>
  </mat-nav-list>

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 mat-line>Kenan</h3>
      <p mat-line>kenantasdemiriletisim@gmail.com</p>
    </mat-list-item>
  </mat-list>



  <mat-selection-list class="mt-5" #shoe [multiple]="true">
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>

  <p>
    options selected {{shoes.selectedOptions.selected.length}}
  </p>


  <mat-selection-list class="mt-5" #shoes [multiple]="false">
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>

  <p>
    options selected {{shoes.selectedOptions.selected.length}}
  </p>


</div>


<div class="hidden">



  <mat-grid-list cols="2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [colspan]="tile.cols"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>

</div>



<div class="hidden">



  <mat-accordion multi="true" hideToggle>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Angular</mat-panel-title>

        <mat-panel-description>
          Kapsamlı Angular Eğitimi
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Eğitmen : Can BOZ</p>

      <mat-action-row>
        <button mat-raised-button>Kaydol</button>
      </mat-action-row>


    </mat-expansion-panel>



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>React</mat-panel-title>
        <mat-panel-description>
          Kapsamlı React Eğitimi
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Eğitmen: Can BOZ</p>

      <mat-action-row>
        <button mat-raised-button>Kaydol</button>
      </mat-action-row>



    </mat-expansion-panel>


  </mat-accordion>

</div>


<div class="hidden">

  <mat-card>
    <mat-card-title>React Kursu</mat-card-title>
    <mat-card-content>Hooks,Components ve daha fazlası</mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button>Kaydol</button>
      <button mat-raised-button>İstek listesine ekle</button>
    </mat-card-actions>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>A</div>
      <mat-card-title>Angular Kurs</mat-card-title>
      <mat-card-subtitle>Kapsamlı Angular Kursu</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>dgfdfd</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Kaydol</button>
      <button mat-raised-button>İstek listesine ekle</button>
    </mat-card-actions>
  </mat-card>


</div>


<div class="hidden">



  <mat-tab-group #matTabRef (selectedTabChange)="logChange(matTabRef.selectedIndex)">
    <mat-tab label="Angular">Angular Content</mat-tab>
    <mat-tab label="React">React Content</mat-tab>
    <mat-tab label="Vue">VueJS Content</mat-tab>
  </mat-tab-group>

  {{matTabRef.selectedIndex}}



  <mat-tab-group animationDuration="3000ms">
    <mat-tab label="Java">Java Content</mat-tab>
    <mat-tab label="Python">Python Content</mat-tab>
    <mat-tab label="C#">C# Content</mat-tab>
  </mat-tab-group>

</div>



<div class="hidden">

  
  
<mat-horizontal-stepper linear>
  <mat-step completed="false" label="Gönderici Adresi">Adres</mat-step>
  <mat-step completed="false" optional label="Fatura Adresi">Fatura Adresi

    <div>
      <button mat-raised-button matStepperPrevious>Önceki</button>
      <button mat-raised-button matStepperNext>Sonraki</button>
    </div>

  </mat-step>
  <mat-step completed="false" label="Kredi Kartı">Kredi Kartı</mat-step>
</mat-horizontal-stepper>


</div>


<div class="hidden">

  
<mat-form-field hideRequiredMarker appearance="fill">
  <mat-label>Ad</mat-label>
  <input matInput required>
  <mat-hint align="end"></mat-hint>
</mat-form-field>


<mat-form-field hideRequiredMarker appearance="outline">
  <mat-label>Ad</mat-label>
  <input matInput required>
  <mat-hint align="end"></mat-hint>
</mat-form-field>


</div>






<div class="hidden">

  
<mat-form-field>
  <mat-label>Frameworks</mat-label>
  <mat-select [(value)]="selectedValue">
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
  </mat-select>
</mat-form-field>

<p> {{selectedValue}} </p>


<mat-form-field>
  <mat-label>Frameworks</mat-label>
  <mat-select [(value)]="selectedValue" multiple="true">
        <mat-optgroup label="frontend">
          <mat-option value="angular">Angular</mat-option>
          <mat-option value="react">React</mat-option>
          <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="backend">
          <mat-option value="c#">C#</mat-option>
          <mat-option value="nodejs">NodeJs</mat-option>
          <mat-option value="python">Python</mat-option>
        </mat-optgroup>
  </mat-select>
</mat-form-field>
</div>


<div class="hidden">


<mat-form-field>
  <input type="text" matInput [matAutocomplete]="auto" >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let opsiyon of options" [value]="opsiyon" > {{opsiyon}} </mat-option>
  </mat-autocomplete>
</mat-form-field> 



<mat-form-field>
  <input type="text" matInput [matAutocomplete]="auto" >
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="showIt">
    <mat-option *ngFor="let opsiyon of objectOptions" [value]="opsiyon" > {{opsiyon}} </mat-option>
  </mat-autocomplete>
</mat-form-field>

</div>



<div class="hidden">
  <mat-checkbox labelPosition="before" color="primary">Kaydol</mat-checkbox>


  
<mat-radio-group>
  <mat-radio-button value="angular">Angular</mat-radio-button>
  <mat-radio-button value="react">React</mat-radio-button>
  <mat-radio-button value="vuejs">Vue</mat-radio-button>
</mat-radio-group>
</div>


<div class="hidden">
  <mat-form-field>
        <input matInput [matDatepicker]="matDatePicker" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFilter">
        <mat-datepicker-toggle [for]="matDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #matDatePicker></mat-datepicker>
  </mat-form-field>
</div>


<div class="hidden">
  <button class="mattooltip" matTooltipShowDelay="2000" matTooltipHideDelay="2000" mat-raised-button matTooltipPosition="after" matTooltip="Can Boz">Angular Eğitimi</button>

</div>



<div class="hidden">
  <button mat-raised-button (click)="openSnackBar('Silindi','Kapat')">Sil</button>
</div>


<div class="hidden">
    <button mat-raised-button (click)="openDialog()">Aç</button>
</div>


<div class="mat-elevation-z8">

  <mat-form-field>
    <input type="text" matInput placeholder="Filtrele" (keyup)="applyFilter($event)">
  </mat-form-field>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="showData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,10,25]" showFirstLastButtons>

  </mat-paginator>
  
  
</div>













